.all {
    width: 100%;
    height: 500px;
    bottom: 90px;
}

i {
    font-size: 30px;
}

.footer {
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}